.wrap{
  height: 100%;
  background-color: #eee;
}
.handleWrap{
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
}
.main{
  display: flex;
  justify-content: space-between;
  height: calc(~'100% - 50px');
  margin-top: 10px;
}
.CodeWrap{
  width: calc(~'50% - 5px');
  border: 1px solid #ccc;
  background-color: #fff;
}
.previewWrap{
  width: calc(~'50% - 5px');
  border: 1px solid #ccc;
  background-color: #fff;
}